* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

:root {
    --color-primary: rgb(31, 176, 171);
}

/* LINK ACTIVOS ROUTER */

.router-link-exact-active {
    color: var(--color-primary)!important;
}

/* GENERALES */

.fondo-primario {
    background-color: var(--color-primary);
}

.titulo {
    color: var(--color-primary);
}

li {
    list-style: none;
}

textarea {
    height: 250px;
}

.form-nota input:focus{
    border: 2px solid var(--color-primary);
    box-shadow: 5px 5px var(--color-primary);
    transition: 0.3s;
}

.form-nota select:focus{
    border: 2px solid var(--color-primary);
    box-shadow: 5px 5px var(--color-primary);
    transition: 0.3s;
}

.form-nota textarea:focus{
    border: 2px solid var(--color-primary);
    box-shadow: 5px 5px var(--color-primary);
    transition: 0.3s;
}

/* BTN CREAR NOTA */

.btn-nueva {
    background-image: url(../imagenes/mas.png);
    background-position: center center;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: var(--color-primary);;
    width: 50px;
    height: 50px;
    padding: 20px;
    border-radius: 100%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    text-indent: 40px;
    overflow: hidden;
    cursor: pointer;
}

/* NABVAR */

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--color-primary);
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .toggler-icon {
    background: var(--color-primary);
}


/* CHECKBOX DESTACADO */

.destacado {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

.destacado:checked {
    background-color: var(--color-primary);
}